<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title"
    rel="cc:attributionURL" href="https://www.ansilabs.ch">Vdeo</a> by <a rel="cc:attributionURL dct:creator"
    property="cc:attributionName" href="https://www.ansilabs.ch">ansi labs GmbH</a> is licensed under <a
    href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer"
    style="display:inline-block;">Attribution 4.0 International<img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>
